<!DOCTYPE html>
<html>
  <head>
    <title>ApiUV1</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if(current_user) %>
  <%= link_to "Salir", destroy_user_session_path, method: :Delete %>
  <% else %>
  <%= link_to "Ingresar", new_user_session_path, method: :Post %>
  <% end if %>
    <%= yield %>
  </body>
</html>
